# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# unit test / coverage reports
.pytest_cache/

# environment
venv*/

# Logs
logs/

# migrations
migrations/

# other
CHANGELOG.md
exception_info*.txt

# intellij idea
.idea/
